<a href="https://colab.research.google.com/github/Flor-Si/Trabajo-Final-Ing-2025/blob/main/trabajo_final_calidad_del_aire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#Objetivo:Determinar la distribución temporal de los gases contaminantes que se generan en un espacio "Autopista" con un elevado nivel de contaminación
# feature del data set

#0 Fecha (DD/MM/AAAA)
#1 Hora (HH.MM.SS)
#2 Concentración media horaria real de CO en mg/m^3 (analizador de referencia)
#3 Respuesta del sensor media horaria PT08.S1 (óxido de estaño) (nominalmente objetivo de CO)
#4 Concentración total media horaria real de hidrocarburos no metánicos en microg/m^3 (analizador de referencia)
#5 Concentración media horaria real de benceno en microg/m^3 (analizador de referencia)
#6 Respuesta del sensor media horaria PT08.S2 (titania) (nominalmente objetivo de NMHC)
#7 Concentración media horaria real de NOx en ppb (analizador de referencia)
#8 Respuesta del sensor media horaria PT08.S3 (óxido de tungsteno) (nominalmente objetivo de NOx)
#9 Concentración media horaria real de NO2 en microg/m^3 (analizador de referencia)
#10 Respuesta del sensor media horaria PT08.S4 (óxido de tungsteno) (nominalmente objetivo NO2)
#11 PT08.S5 (óxido de indio) respuesta del sensor promedio por hora (nominalmente objetivo O3)
#12 Temperatura en °C
#13 Humedad relativa (%)
#14 AH Humedad absoluta

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
# Leemos nuevamente los datos del CSV Calidad del Aire
calidad_air = pd.read_csv('/content/AirQuality.csv', sep=";")

In [3]:
calidad_air.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [4]:
#Observamos el tipo de las varibles que contiene , si son Int,Float,Object
calidad_air.dtypes

Date              object
Time              object
CO(GT)            object
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)          object
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                 object
RH                object
AH                object
Unnamed: 15      float64
Unnamed: 16      float64
dtype: object

In [5]:
#Imprimimos para ver las cantidad de datos en las filas y columnas tenemos y si se observa un NaN (nulo)
print(calidad_air)

            Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
9466         NaN       NaN    NaN          NaN       NaN      NaN
9467         NaN       NaN    NaN          NaN       NaN      NaN
9468         NaN       NaN    NaN          NaN       NaN      NaN
9469         NaN       NaN    NaN          NaN       NaN      NaN
9470         NaN       NaN    NaN          NaN       NaN      NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13,6  48,9  0,7578          NaN          NaN
1           972.0  13,3  47,7  0,7255          NaN          NaN
2          1074.0  11,9  54,0  0,7502          NaN          NaN
3          1203.0  11,0  60,0  0,7867          NaN          NaN
4          1110.0  11,2  59,6  0,7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]

In [6]:
#Determinamos la cantidad de filas y columnas de nuestro dataset
calidad_air.shape

(9471, 17)

In [7]:
#Utilizamos la función info que nos determina que es un "DataFrame"
calidad_air.info

<bound method DataFrame.info of             Date      Time CO(GT)  PT08.S1(CO)  NMHC(GT) C6H6(GT)  \
0     10/03/2004  18.00.00    2,6       1360.0     150.0     11,9
1     10/03/2004  19.00.00      2       1292.0     112.0      9,4
2     10/03/2004  20.00.00    2,2       1402.0      88.0      9,0
3     10/03/2004  21.00.00    2,2       1376.0      80.0      9,2
4     10/03/2004  22.00.00    1,6       1272.0      51.0      6,5
...          ...       ...    ...          ...       ...      ...
9466         NaN       NaN    NaN          NaN       NaN      NaN
9467         NaN       NaN    NaN          NaN       NaN      NaN
9468         NaN       NaN    NaN          NaN       NaN      NaN
9469         NaN       NaN    NaN          NaN       NaN      NaN
9470         NaN       NaN    NaN          NaN       NaN      NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13,6  48,9  0,7578          NaN          NaN
1           972.0  13,3  47,7  0,7255          NaN          NaN
2          1074.0  11,9  54,0  0,7502          NaN          NaN
3          1203.0  11,0  60,0  0,7867          NaN          NaN
4          1110.0  11,2  59,6  0,7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]>

In [8]:
#Con l
calidad_air.describe()

,PT08.S1(CO),NMHC(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),Unnamed: 15,Unnamed: 16
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,0.0,0.0
mean,1048.990061,-159.090093,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,NaN,NaN
std,329.832710,139.789093,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,NaN,NaN
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,921.000000,-200.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,NaN,NaN
50%,1053.000000,-200.000000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,NaN,NaN
75%,1221.000000,-200.000000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,NaN,NaN
max,2040.000000,1189.000000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,NaN,NaN